# Test Report

---

## Add Book

<div align="center">
  <img src="assets/addBook_test.png" alt="Add Book Test" width="60%" style="border: 1px solid #ddd; border-radius: 4px; padding: 5px;">
</div>

---

## Available Book

<div align="center">
  <img src="assets/availableBook_test.png" alt="Available Book Test 1" width="60%" style="border: 1px solid #ddd; border-radius: 4px; padding: 5px; margin-right: 10px;">
</div>

---

## Borrow Book

<div align="center">
  <img src="assets/borrowBook_test.png" alt="Borrow Book Test 1" width="60%" style="border: 1px solid #ddd; border-radius: 4px; padding: 5px; margin-right: 10px;">
</div>

---

## Return Book

<div align="center">
  <img src="assets/returnBook_test.png" alt="Return Book Test 1" width="60%" style="border: 1px solid #ddd; border-radius: 4px; padding: 5px; margin-right: 10px;">
</div>

---

## All Tests

<div align="center">
  <img src="assets/all_test.png" alt="All Test" width="50%" style="border: 1px solid #ddd; border-radius: 4px; padding: 5px;">
</div>
