# Test Report

## Add Book
![Add Book Test](assets/addBook_test.png)

## Available Book
![Available Book Test 1](assets/availableBook_test.png)

## Borrow Book
![Borrow Book Test 1](assets/borrowBook_test.png)

## Return Book
![Return Book Test 1](assets/returnBook_test.png)

## All Test
![All Test](assets/all_test.png)