# Test Report

## Add Book
![Add Book Test](test_report/assets/addBook_test.png)

## Available Book
![Available Book Test 1](test_report/assets/availableBooks_test1.png)
![Available Book Test 2](test_report/assets/availableBooks_test2.png)

## Borrow Book
![Borrow Book Test 1](test_report/assets/borrowBook_test1.png)
![Borrow Book Test 2](test_report/assets/borrowBook_test2.png)

## Return Book
![Return Book Test 1](test_report/assets/returnBook_test1.png)
![Return Book Test 2](test_report/assets/returnBook_test2.png)
