# Test Report

## Add Book
![Add Book Test](assets/addBook_test.png)

## Available Book
![Available Book Test 1](assets/availableBooks_test1.png)
![Available Book Test 2](assets/availableBooks_test2.png)

## Borrow Book
![Borrow Book Test 1](assets/borrowBook_test1.png)
![Borrow Book Test 2](assets/borrowBook_test2.png)

## Return Book
![Return Book Test 1](assets/returnBook_test1.png)
![Return Book Test 2](assets/returnBook_test2.png)