Add book :
library_management/test_report/assets/addBook_test.png

Available book :
library_management/test_report/assets/availableBooks_test1.png

library_management/test_report/assets/availableBooks_test2.png

Borrow book :
library_management/test_report/assets/borrowBook_test1.png

library_management/test_report/assets/borrowBook_test2.png

Return book :
library_management/test_report/assets/returnBook_test1.png

library_management/test_report/assets/returnBook_test2.png